<a nz-button nzType="primary" [routerLink]="['/cotizacion/mantenimiento']"
  ><i nz-icon nzType="plus" nzTheme="outline"></i> Nueva Cotización</a
>
<nz-table #basicTable nzSize="small">
  <thead>
    <tr>
      <th>#</th>
      <th>CÓDIGO</th>
      <th>TIPO SERVICIO</th>
      <th>SOLICITANTE</th>
      <th>CLIENTE</th>
      <th>IMPORTE</th>
      <th>F. SOLICITUD</th>
      <th>F. ENVÍO</th>
      <th>F. APROBACIÓN</th>
      <th>COORDINADOR</th>
      <th>VENDEDOR</th>
      <th>ESTADO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</nz-table>
