<form nz-form [formGroup]="validateForm">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="8" [nzLg]="8">
      <nz-form-item>
        <nz-form-label
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzXl]="24"
          nzFor="paterno"
          nzRequired
          >Ap. Paterno</nz-form-label
        >
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzXl]="24">
          <input
            nz-input
            name="paterno"
            type="text"
            id="paterno"
            formControlName="paterno"
            [disabled]="true"
          />

          <div
            *ngIf="
              myForm.paterno.invalid &&
              (myForm.paterno.dirty || myForm.paterno.touched)
            "
            class="invalid-touched"
          >
            <div *ngIf="myForm.paterno.errors?.required">Campo Obligatorio</div>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="8" [nzLg]="8">
      <nz-form-item>
        <nz-form-label
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzXl]="24"
          nzFor="materno"
          nzRequired
          >Ap. Materno</nz-form-label
        >
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzXl]="24">
          <input
            nz-input
            name="materno"
            type="text"
            id="materno"
            formControlName="materno"
            [disabled]="true"
          />

          <div
            *ngIf="
              myForm.materno.invalid &&
              (myForm.materno.dirty || myForm.materno.touched)
            "
            class="invalid-touched"
          >
            <div *ngIf="myForm.materno.errors?.required">Campo Obligatorio</div>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="8" [nzLg]="8">
      <nz-form-item>
        <nz-form-label
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzXl]="24"
          nzFor="nombre"
          nzRequired
          >nombre</nz-form-label
        >
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzXl]="24">
          <input
            nz-input
            name="nombre"
            type="text"
            id="nombre"
            formControlName="nombre"
            [disabled]="true"
          />

          <div
            *ngIf="
              myForm.nombre.invalid &&
              (myForm.nombre.dirty || myForm.nombre.touched)
            "
            class="invalid-touched"
          >
            <div *ngIf="myForm.nombre.errors?.required">Campo Obligatorio</div>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12">
      <nz-form-item>
        <nz-form-label
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzXl]="24"
          nzFor="tipoDocumento"
          nzRequired
          >Tipo de Documento</nz-form-label
        >
        <nz-form-control>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Seleccione"
            name="tipoDocumento"
            id="tipoDocumento"
            formControlName="tipoDocumento"
          >
            <nz-option
              nzLabel="{{ item.nombre }}"
              nzValue="{{ item.id }}"
              *ngFor="let item of listOfTipoDocumentos"
            ></nz-option>
          </nz-select>
          <div
            *ngIf="
              myForm.tipoDocumento.invalid &&
              (myForm.tipoDocumento.dirty || myForm.tipoDocumento.touched)
            "
            class="invalid-touched"
          >
            <div *ngIf="myForm.tipoDocumento.errors?.required">
              Campo Obligatorio
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12">
      <nz-form-item>
        <nz-form-label
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzXl]="24"
          nzFor="nro_documento"
          nzRequired
          >Nro documento</nz-form-label
        >
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzXl]="24">
          <!--<input
            nz-input
            name="nro_documento"
            type="text"
            id="nro_documento"
            formControlName="nro_documento"
          />-->
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input
              nz-input
              name="nro_documento"
              type="text"
              id="nro_documento"
              formControlName="nro_documento"
            />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch>
              <i nz-icon nzType="search"></i>
            </button>
          </ng-template>

          <div
            *ngIf="
              myForm.nro_documento.invalid &&
              (myForm.nro_documento.dirty || myForm.nro_documento.touched)
            "
            class="invalid-touched"
          >
            <div *ngIf="myForm.nro_documento.errors?.required">
              Campo Obligatorio
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12">
      <nz-form-item>
        <nz-form-label
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzXl]="24"
          nzFor="direccion"
          >Dirección</nz-form-label
        >
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzXl]="24">
          <input
            nz-input
            name="direccion"
            type="text"
            id="direccion"
            formControlName="direccion"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12">
      <nz-form-item>
        <nz-form-label
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzXl]="24"
          nzFor="correo"
          >Correo</nz-form-label
        >
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzXl]="24">
          <input
            nz-input
            name="correo"
            type="text"
            id="correo"
            formControlName="correo"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="8" [nzLg]="8">
      <nz-form-item>
        <nz-form-label
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzXl]="24"
          nzFor="telefono"
          >Teléfono</nz-form-label
        >
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzXl]="24">
          <input
            nz-input
            name="telefono"
            type="text"
            id="telefono"
            formControlName="telefono"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="8" [nzLg]="8">
      <nz-form-item>
        <nz-form-label
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzXl]="24"
          nzFor="celular1"
          >Celular</nz-form-label
        >
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzXl]="24">
          <input
            nz-input
            name="celular1"
            type="text"
            id="celular1"
            formControlName="celular1"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="8" [nzLg]="8">
      <nz-form-item>
        <nz-form-label
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzXl]="24"
          nzFor="celular2"
          >Celular</nz-form-label
        >
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzXl]="24">
          <input
            nz-input
            name="celular2"
            type="text"
            id="celular2"
            formControlName="celular2"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="destroyModal()">Cancelar</button>
  <button
    nz-button
    nzType="primary"
    (click)="submitForm(validateForm)"
    [disabled]="!validateForm.valid"
    [disabled]="validateForm.invalid || !isAddNew"
    *ngIf="this.isAddNew"
  >
    Grabar
  </button>
  <button
    nz-button
    (click)="onUpdate(validateForm)"
    nzType="primary"
    [disabled]="!validateForm.dirty || isAddNew || validateForm.invalid"
    *ngIf="!this.isAddNew"
  >
    <i nz-icon nzType="edit" nzTheme="outline"></i>
    Update
  </button>
</div>
