<form
  nz-form
  [formGroup]="validateForm"
  class="login-form"
  (ngSubmit)="submitForm()"
>
  <nz-tabset [nzTabBarExtraContent]="extraTemplate">
    <nz-tab nzTitle="GENERAL">
      <div nz-row [nzGutter]="[32, 8]">
        <div
          nz-col
          class="gutter-row"
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzLg]="12"
          [nzXl]="16"
        >
          <div class="inner-box">
            <div nz-row [nzGutter]="8">
              <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="12" [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzMd]="24" [nzLg]="8"
                    >Codigo</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="18"
                    [nzMd]="24"
                    [nzLg]="16"
                    nzErrorTip="Campo requerido"
                  >
                    <input
                      type="text"
                      nz-input
                      formControlName="codigoCotizacion"
                      placeholder="Correlativo"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="12" [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzMd]="24" [nzLg]="8"
                    >Cantidad</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="18"
                    [nzMd]="24"
                    [nzLg]="16"
                    nzErrorTip="Campo requerido"
                  >
                    <nz-input-number
                      [nzMin]="1"
                      [nzMax]="10"
                      [nzStep]="1"
                      [nzPlaceHolder]="'Cantidad de informes'"
                      formControlName="cantidadInforme"
                    ></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="8">
              <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="12" [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzMd]="24" [nzLg]="8"
                    >Tipo</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="18"
                    [nzMd]="24"
                    [nzLg]="16"
                    nzErrorTip="Campo requerido"
                  >
                    <nz-select
                      nzPlaceHolder="Seleccione"
                      formControlName="tipoCotizacion"
                    >
                      <nz-option nzValue="1" nzLabel="Simple"></nz-option>
                      <nz-option
                        nzValue="2"
                        nzLabel="Propuesta Técnica"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="12" [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzMd]="24" [nzLg]="8"
                    >Estado</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="18"
                    [nzMd]="24"
                    [nzLg]="16"
                    nzErrorTip="Campo requerido"
                  >
                    <nz-select
                      nzPlaceHolder="Seleccione"
                      formControlName="estadoCotizacion"
                    >
                      <nz-option nzValue="1" nzLabel="Pendiente"></nz-option>
                      <nz-option nzValue="2" nzLabel="Aprobado"></nz-option>
                      <nz-option nzValue="2" nzLabel="Desestimado"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzMd]="24" [nzLg]="4"
                    >Tipo Servicio</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="18"
                    [nzMd]="24"
                    [nzLg]="20"
                    nzErrorTip="Campo requerido"
                  >
                    <nz-select
                      nzMode="tags"
                      nzPlaceHolder="Seleccione"
                      formControlName="servicioTipoCotizacion"
                    >
                      <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzMd]="24" [nzLg]="4"
                    >Adjunto Propuesta</nz-form-label
                  >
                  <nz-form-control [nzSm]="18" [nzMd]="24" [nzLg]="20">
                    <nz-input-group
                      nzSearch
                      [nzAddOnAfter]="adjuntoCloudUpload"
                    >
                      <input
                        type="text"
                        nz-input
                        placeholder="input search text"
                      />
                    </nz-input-group>
                    <ng-template #adjuntoCloudUpload>
                      <button nz-button nzType="primary" nzSearch>
                        <i nz-icon nzType="cloud-upload"></i>
                      </button>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="8">
              <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="12" [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzMd]="24" [nzLg]="8"
                    >Codigo C/S</nz-form-label
                  >
                  <nz-form-control [nzSm]="18" [nzMd]="24" [nzLg]="16">
                    <input
                      nz-input
                      formControlName="codigocs"
                      placeholder="Código de garantía / servicio"
                      [disabled]="true"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="12" [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzMd]="24" [nzLg]="8"
                    >Adjunto C/S</nz-form-label
                  >
                  <nz-form-control [nzSm]="18" [nzMd]="24" [nzLg]="16">
                    <input
                      nz-input
                      formControlName="adjuntocs"
                      placeholder="Adjunto de garantía / servicio"
                      [disabled]="true"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="12">
                <button nz-button nzType="default">
                  <i nz-icon nzType="file-word"></i> Generar Propuesta
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          nz-col
          class="gutter-row"
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzLg]="12"
          [nzXl]="8"
        >
          <div class="inner-box">
            <nz-divider [nzText]="fechaDivider">
              <ng-template #fechaDivider>
                <i nz-icon nzType="calendar"></i>
                FECHAS
              </ng-template>
            </nz-divider>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzMd]="24" [nzLg]="8"
                >Solicitud</nz-form-label
              >
              <nz-form-control [nzSm]="18" [nzMd]="24" [nzLg]="16">
                <div nz-row [nzGutter]="8">
                  <div nz-col [nzXs]="18" [nzSm]="20" [nzMd]="21" [nzLg]="18">
                    <nz-date-picker nz-input></nz-date-picker>
                  </div>
                  <div nz-col [nzXs]="6" [nzSm]="4" [nzMd]="3" [nzLg]="6">
                    <button nz-button>
                      <i nz-icon nzType="clear" nzTheme="outline"></i>
                    </button>
                  </div>
                </div>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzMd]="24" [nzLg]="8"
                >Envío al Cliente</nz-form-label
              >
              <nz-form-control [nzSm]="18" [nzMd]="24" [nzLg]="16">
                <div nz-row [nzGutter]="8">
                  <div nz-col [nzXs]="18" [nzSm]="20" [nzMd]="21" [nzLg]="18">
                    <nz-date-picker nz-input></nz-date-picker>
                  </div>
                  <div nz-col [nzXs]="6" [nzSm]="4" [nzMd]="3" [nzLg]="6">
                    <button nz-button>
                      <i nz-icon nzType="clear" nzTheme="outline"></i>
                    </button>
                  </div>
                </div>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzMd]="24" [nzLg]="8"
                >Aprobación</nz-form-label
              >
              <nz-form-control [nzSm]="18" [nzMd]="24" [nzLg]="16">
                <div nz-row [nzGutter]="8">
                  <div nz-col [nzXs]="18" [nzSm]="20" [nzMd]="21" [nzLg]="18">
                    <nz-date-picker nzDisabled></nz-date-picker>
                  </div>
                  <div nz-col [nzXs]="6" [nzSm]="4" [nzMd]="3" [nzLg]="6">
                    <button nz-button>
                      <i nz-icon nzType="clear" nzTheme="outline"></i>
                    </button>
                  </div>
                </div>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzMd]="24" [nzLg]="8"
                >Plazo</nz-form-label
              >
              <nz-form-control [nzSm]="18" [nzMd]="24" [nzLg]="16">
                <div nz-row [nzGutter]="8">
                  <div nz-col [nzXs]="18" [nzSm]="20" [nzMd]="21" [nzLg]="18">
                    <nz-input-number
                      [nzMin]="1"
                      [nzMax]="30"
                      [nzStep]="1"
                    ></nz-input-number>
                  </div>
                  <div nz-col [nzXs]="6" [nzSm]="4" [nzMd]="3" [nzLg]="6">
                    Días
                  </div>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="INVOLUCRADOS">
      <div nz-row [nzGutter]="[32, 8]">
        <div nz-col class="gutter-row" [nzXs]="24" [nzLg]="16">
          <div class="inner-box">
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="24">
                <nz-card
                  [nzBordered]="true"
                  nzTitle="Solicitante"
                  [nzExtra]="extraSolicitante"
                  nzType="inner"
                >
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Campo requerido">
                      <nz-input-group
                        nzSearch
                        [nzAddOnAfter]="suffixIconButtonSolicitante"
                      >
                        <nz-select
                          nz-input
                          nzPlaceHolder="Seleccione"
                          formControlName="solicitante"
                        >
                          <nz-option nzValue="1" nzLabel="Empresa"></nz-option>
                          <nz-option
                            nzValue="2"
                            nzLabel="Giuliana Ramon"
                          ></nz-option>
                        </nz-select>
                      </nz-input-group>
                      <ng-template #suffixIconButtonSolicitante>
                        <button nz-button nzType="primary" nzSearch>
                          <i nz-icon nzType="plus"></i>
                        </button>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </nz-card>
                <ng-template #extraSolicitante>
                  <nz-radio-group>
                    <label nz-radio nzValue="1">Juridico</label>
                    <label nz-radio nzValue="2">Natural</label>
                  </nz-radio-group>
                </ng-template>
                <nz-card
                  [nzBordered]="true"
                  nzTitle="Cliente"
                  [nzExtra]="extraCliente"
                  nzType="inner"
                >
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Campo requerido">
                      <nz-input-group
                        nzSearch
                        [nzAddOnAfter]="suffixIconButtonCliente"
                      >
                        <nz-select
                          nz-input
                          nzPlaceHolder="Seleccione"
                          formControlName="cliente"
                        >
                          <nz-option nzValue="1" nzLabel="Empresa"></nz-option>
                          <nz-option
                            nzValue="2"
                            nzLabel="Giuliana Ramon"
                          ></nz-option>
                        </nz-select>
                      </nz-input-group>
                      <ng-template #suffixIconButtonCliente>
                        <button nz-button nzType="primary" nzSearch>
                          <i nz-icon nzType="plus"></i>
                        </button>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </nz-card>
                <ng-template #extraCliente>
                  <nz-radio-group>
                    <label nz-radio nzValue="1">Juridico</label>
                    <label nz-radio nzValue="2">Natural</label>
                  </nz-radio-group>
                </ng-template>
                <nz-card
                  [nzBordered]="true"
                  nzTitle="Propietario"
                  [nzExtra]="extraPropietario"
                  nzType="inner"
                >
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Campo requerido">
                      <nz-input-group
                        nzSearch
                        [nzAddOnAfter]="suffixIconButtonPropietario"
                      >
                        <nz-select
                          nz-input
                          nzPlaceHolder="Seleccione"
                          formControlName="propietario"
                        >
                          <nz-option nzValue="1" nzLabel="Empresa"></nz-option>
                          <nz-option
                            nzValue="2"
                            nzLabel="Giuliana Ramon"
                          ></nz-option>
                        </nz-select>
                      </nz-input-group>
                      <ng-template #suffixIconButtonPropietario>
                        <button nz-button nzType="primary" nzSearch>
                          <i nz-icon nzType="plus"></i>
                        </button>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </nz-card>
                <ng-template #extraPropietario>
                  <nz-radio-group>
                    <label nz-radio nzValue="1">Juridico</label>
                    <label nz-radio nzValue="2">Natural</label>
                  </nz-radio-group>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzXs]="24" [nzLg]="8">
          <div class="inner-box">
            <nz-form-item>
              <nz-form-label [nzSpan]="8">Vendedor</nz-form-label>
              <nz-form-control [nzSpan]="16" nzErrorTip="Campo requerido">
                <nz-select
                  nzPlaceHolder="Seleccione"
                  formControlName="vendedor"
                >
                  <nz-option nzValue="1" nzLabel="Empresa"></nz-option>
                  <nz-option nzValue="2" nzLabel="Giuliana Ramon"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="8">Comisión (%)</nz-form-label>
              <nz-form-control [nzSpan]="16" nzErrorTip="Campo requerido">
                <nz-input-number
                  [nzMin]="1"
                  [nzMax]="30"
                  [nzStep]="1"
                ></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="SERVICIOS">
      <div nz-row [nzGutter]="[32, 8]">
        <div
          nz-col
          class="gutter-row"
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzLg]="12"
          [nzXl]="15"
        >
          <div class="inner-box">
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzSpan]="4">Servicio</nz-form-label>
                  <nz-form-control [nzSpan]="20" nzErrorTip="Campo requerido">
                    <nz-input-group
                      nzSearch
                      [nzAddOnAfter]="suffixIconButtonServicio"
                    >
                      <nz-select
                        nz-input
                        nzPlaceHolder="Seleccione"
                        formControlName="servicio"
                      >
                        <nz-option nzValue="1" nzLabel="Empresa"></nz-option>
                        <nz-option
                          nzValue="2"
                          nzLabel="Giuliana Ramon"
                        ></nz-option>
                      </nz-select>
                    </nz-input-group>
                    <ng-template #suffixIconButtonServicio>
                      <button nz-button nzType="primary" nzSearch>
                        <i nz-icon nzType="plus"></i>
                      </button>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="8">
              <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="8" [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzMd]="24" [nzLg]="12"
                    >Cantidad</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="18"
                    [nzMd]="24"
                    [nzLg]="12"
                    nzErrorTip="Campo requerido"
                  >
                    <nz-input-number
                      [nzMin]="1"
                      [nzMax]="10"
                      [nzStep]="1"
                      [nzPlaceHolder]="'1'"
                      formControlName="cantidadServicio"
                    ></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="8" [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzMd]="24" [nzLg]="8"
                    >Costo</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="18"
                    [nzMd]="24"
                    [nzLg]="16"
                    nzErrorTip="Campo requerido"
                  >
                    <nz-input-number
                      [nzMin]="1"
                      [nzMax]="10"
                      [nzStep]="1"
                      [nzPlaceHolder]="'0.00'"
                      formControlName="costo"
                    ></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzXs]="24" [nzMd]="12" [nzLg]="8" [nzSpan]="12">
                <nz-button-group>
                  <button nz-button nzType="primary" nzDanger>
                    <i nz-icon nzType="delete"></i>
                    Borrar
                  </button>
                  <button nz-button nzType="primary">
                    Añadir
                    <i nz-icon nzType="plus"></i>
                  </button>
                </nz-button-group>
              </div>
            </div>
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="24">
                <nz-table #basicTable nzSize="small">
                  <thead>
                    <tr>
                      <th>SERVICIO</th>
                      <th>CANTIDAD</th>
                      <th>SUBTOTAL</th>
                      <th>ACCIONES</th>
                    </tr>
                  </thead>
                </nz-table>
              </div>
            </div>
            <nz-divider> </nz-divider>
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label [nzSpan]="24">Datos Adicionales</nz-form-label>
                  <nz-form-control [nzSpan]="24">
                    <textarea rows="4" nz-input></textarea>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
        <div
          nz-col
          class="gutter-row"
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzLg]="12"
          [nzXl]="9"
        >
          <div class="inner-box">
            <nz-divider [nzText]="formaPagoDivider">
              <ng-template #formaPagoDivider>
                <i nz-icon nzType="dollar"></i>
                FORMA DE PAGO
              </ng-template>
            </nz-divider>
            <nz-card [nzBordered]="true" [nzTitle]="" [nzExtra]="extraIgv">
              <nz-form-item>
                <nz-form-label [nzSpan]="8">Desglose</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="Campo requerido">
                  <nz-select
                    nzPlaceHolder="Seleccione"
                    formControlName="desglose"
                  >
                    <nz-option nzValue="1" nzLabel="100 %"></nz-option>
                    <nz-option nzValue="2" nzLabel="50% - 50%"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="8">Moneda</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="Campo requerido">
                  <nz-select
                    nzPlaceHolder="Seleccione"
                    formControlName="moneda"
                  >
                    <nz-option nzValue="1" nzLabel="$"></nz-option>
                    <nz-option nzValue="2" nzLabel="S/."></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="8">SUBTOTAL</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="Campo requerido">
                  <input
                    type="text"
                    nz-input
                    formControlName="subtotal"
                    placeholder="0.00"
                    [disabled]="true"
                  />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="8">IGV</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="Campo requerido">
                  <input
                    type="text"
                    nz-input
                    formControlName="igv"
                    placeholder="0.00"
                    [disabled]="true"
                  />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="8">TOTAL</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="Campo requerido">
                  <input
                    type="text"
                    nz-input
                    formControlName="total"
                    placeholder="0.00"
                    [disabled]="true"
                  />
                </nz-form-control>
              </nz-form-item>
            </nz-card>
            <ng-template #extraIgv>
              <nz-radio-group>
                <label nz-radio nzValue="1">CON IGV</label>
                <label nz-radio nzValue="2">SIN IGV</label>
              </nz-radio-group>
            </ng-template>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="COSTOS">
      <div nz-row [nzGutter]="[32, 8]">
        <div
          nz-col
          class="gutter-row"
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzLg]="12"
          [nzXl]="16"
        >
          <div class="inner-box">
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="24">
                <nz-card nzTitle="PERITO" [nzExtra]="extraPerito">
                  <div nz-row [nzGutter]="8">
                    <div nz-col [nzXs]="24" [nzLg]="24" [nzXl]="12">
                      <nz-form-item>
                        <nz-form-control nzErrorTip="Campo requerido">
                          <nz-select
                            nzPlaceHolder="Seleccione Perito"
                            formControlName="perito"
                          >
                            <nz-option
                              nzValue="1"
                              nzLabel="Gerardo Espinoza"
                            ></nz-option>
                            <nz-option
                              nzValue="2"
                              nzLabel="Rachell Leon"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col [nzXs]="24" [nzLg]="24" [nzXl]="12">
                      <nz-form-item>
                        <nz-form-label
                          [nzSm]="24"
                          [nzMd]="24"
                          [nzLg]="24"
                          [nzXl]="8"
                          >Importe</nz-form-label
                        >
                        <nz-form-control
                          [nzSm]="24"
                          [nzMd]="24"
                          [nzLg]="24"
                          [nzXl]="16"
                          nzErrorTip="Campo requerido"
                        >
                          <nz-input-number
                            [nzMin]="1"
                            [nzMax]="10"
                            [nzStep]="1"
                            [nzPlaceHolder]="'0.00'"
                            formControlName="importePerito"
                          ></nz-input-number>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </nz-card>
                <ng-template #extraPerito>
                  <nz-select
                    nzPlaceHolder="Seleccione"
                    formControlName="tipoPerito"
                  >
                    <nz-option nzValue="1" nzLabel="OFICINA"></nz-option>
                    <nz-option nzValue="2" nzLabel="EXTERNO"></nz-option>
                  </nz-select>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div
          nz-col
          class="gutter-row"
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzLg]="12"
          [nzXl]="8"
        >
          <div class="inner-box">
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="24">
                <nz-card nzTitle="VIÁTICOS">
                  <nz-form-item>
                    <nz-form-label
                      [nzSm]="24"
                      [nzMd]="24"
                      [nzLg]="24"
                      [nzXl]="8"
                      >Importe</nz-form-label
                    >
                    <nz-form-control
                      [nzSm]="24"
                      [nzMd]="24"
                      [nzLg]="24"
                      [nzXl]="16"
                      nzErrorTip="Campo requerido"
                    >
                      <nz-input-number
                        [nzMin]="1"
                        [nzMax]="10"
                        [nzStep]="1"
                        [nzPlaceHolder]="'1'"
                        formControlName="importeViatico"
                      ></nz-input-number>
                    </nz-form-control>
                  </nz-form-item>
                </nz-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col>
          <div class="inner-box">
            <p>
              <strong nz-typography nzType="danger">Nota:</strong> Los importes
              deberán ser ingresados a la moneda cotizada
            </p>
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
  <ng-template #extraTemplate>
    <button nz-button nzType="primary" nzDanger (click)="showDeleteConfirm()">
      Cancelar
    </button>
    <button nz-button nzType="primary">GRABAR</button>
  </ng-template>
</form>
