<div *ngIf="!config.header.hidden; then loggedIn; else loggedOut"></div>
<ng-template #loggedIn>
  <nz-layout class="common-layout h-full">
    <header
      *ngIf="!config.header.hidden"
      (buttonExpand)="parentEventHandlerFunction($event)"
      (buttonExpandMobile)="parentMobileEventHandlerFunction($event)"
    ></header>
    <sidebar
      *ngIf="!config.sidebar.hidden"
      [ngClass]="{
        'is-folded': valueEmittedFromChildComponent
      }"
      [value]="valueEmittedFromChildComponent"
      [valueMobile]="mobileEmittedFromChildComponent"
    >
    </sidebar>

    <nz-content
      [className]="
        valueEmittedFromChildComponent == true
          ? 'is-folded page-container'
          : 'page-container'
      "
    >
      <div class="main-content">
        <div class="main-content-header">
          <h4 class="page-title">Elaboración de Informe</h4>
          <!---->
          <nz-breadcrumb nzseparator=">" class="ant-breadcrumb">
            <i nz-icon nzType="home" class="mr-[5px]"></i>
            <nz-breadcrumb-item>
              <span class="ant-breadcrumb-link"
                ><a href="/"> Dashboard </a></span
              >
            </nz-breadcrumb-item>
          </nz-breadcrumb>
        </div>

        <div class="w-full bg-white components-container">
          <router-outlet></router-outlet>
        </div>
        <my-footer *ngIf="!config.footer.hidden"> </my-footer>
      </div>
    </nz-content>
  </nz-layout>
</ng-template>
<ng-template #loggedOut>
  <router-outlet></router-outlet>
</ng-template>
