<nz-card
  [nzBordered]="true"
  nzTitle="LISTADO DE INVOLUCRADOS JURIDICOS"
  [nzExtra]="extraTemplate"
>
  <nz-table
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzData]="listOfInvolucrados"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th>N°</th>
        <th>RAZÓN SOCIAL</th>
        <th>NRO DOCUMENTO</th>
        <th>SECTOR</th>
        <th>CLASIFICACIÓN</th>
        <th>ACCIÓN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let position of listOfInvolucrados; index as i">
        <td>#{{ i + 1 }}</td>
        <td>
            {{ position.razon_social }}
        </td>
        <td>{{ position.tipoDocumento.abreviatura + ": "+position.nro_documento }}</td>
        <td>{{ position.sector.nombre }}</td>
        <td>{{ position.clasificacion.nombre }}</td>
        <td>
          <nz-space>
            <a
              nz-button
              nzType="default"
              nzShape="circle"
              class="flex items-center justify-center mr-1"
            >
              <i
                nz-icon
                nzType="edit"
                nzTheme="outline"
                class="text-blue-500"
                (click)="openModalWithComponent(position, 'Edit', false)"
              ></i>
            </a>
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              class="flex items-center justify-center"
              (click)="showConfirm(position.id!)"
            >
              <i
                nz-icon
                nzType="delete"
                nzTheme="outline"
                class="text-red-500"
              ></i>
            </button>
          </nz-space>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #extraTemplate>
  <a nz-button nzType="primary" (click)="openModalWithComponent(position, 'New', true)">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    Nuevo Involucrado
  </a>
</ng-template>
