/* .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-sider {
  width: 400px;
  background: #001529;
  top: 70px;
  background-color: #fff;
  border-right: 1px solid #edf2f9;
  height: 100%;
  z-index: 1000;
  overflow-y: auto;
}
 */
nz-sider {
  width: 280px;
  background: #001529;
  top: 70px;
  background-color: #fff;
  border-right: 1px solid #edf2f9;
  height: 100%;
  z-index: 1000;
  overflow-y: auto;
  position: fixed;
}
nz-sider .side-nav-menu {
  margin-bottom: 70px;
}
nz-menu {
  margin-bottom: 70px;
}
