.is-invalidad {
  border-color: red;
}
.invalid-feedback {
  color: red;
}
/* input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  outline: none;
  box-shadow: none;
} */
input:focus {
  outline: none !important;
  /*   background-color: salmon;
  color: mediumorchid; */
  border-color: #253f75;

  box-shadow: none;
}
