<form
  class="mt-8"
  [formGroup]="formLogin"
  (ngSubmit)="submitLogin()"
  novalidate
>
  <input type="hidden" name="remember" value="true" />

  <div class="relative content-center mt-6">
    <label class="text-sm font-normal text-labelColorInput tracking-semi_normal"
      >Usuario
    </label>
    <input
      class="w-full px-4 text-base border-gray-300 rounded-lg form-control hover:border-allemantBlue"
      type="text"
      required
      formControlName="email"
      placeholder="Ingresa su correo"
    />
  </div>

  <div class="relative mt-6">
    <label
      class="text-sm font-normal form-control text-labelColorInput tracking-semi_normal"
      [ngClass]="{
        error: isFormSubmitted && formLogin.controls.password.errors?.required
      }"
    >
      Contraseña
    </label>
    <input
      class="content-center w-full py-2 pl-4 pr-8 text-base border-gray-300 rounded-lg form-control hover:border-allemantBlue"
      required
      formControlName="password"
      placeholder="Ingrese tu contraseña"
      [type]="showPassword ? 'text' : 'password'"
    />

    <button
      (click)="showPassword = !showPassword"
      class="absolute inset-y-0 right-0 pr-3 top-22px"
    >
      <div *ngIf="!showPassword">
        <i aria-hidden="true" alt="show" class="far fa-eye fa-lg eye-show"></i>
      </div>
      <div *ngIf="showPassword">
        <i
          aria-hidden="true"
          alt="hide"
          class="far fa-eye-slash fa-lg eye-hide"
        ></i>
      </div>
    </button>
  </div>
  <!-- Validation messages -->
  <div
    class="invalid-feedback"
    *ngIf="
      (isFormSubmitted && formLogin.controls.password.errors) ||
      (!formLogin.controls.password.pristine &&
        formLogin.controls.password.invalid) ||
      formLogin.controls.password.touched
    "
  >
    <div *ngIf="formLogin.controls.password.errors?.required">
      Contraseña es requerida
    </div>
    <div *ngIf="formLogin.controls.password.errors?.minlength">
      Requiere un minimo de 6 caracteres
    </div>
  </div>
  <div class="flex items-center justify-between my-6">
    <div class="flex items-center">
      <input
        id="remember_me"
        name="remember_me"
        type="checkbox"
        class="w-4 h-4 bg-blue-500 border-gray-300 rounded focus:ring-blue-400"
      />
      <label for="remember_me" class="block ml-2 text-sm text-gray-900">
        Recordar
      </label>
    </div>
    <div class="text-sm">
      <a href="#" class="font-normal text-allemantBlue tracking-semi_normal">
        Olvidé mi contraseña
      </a>
    </div>
  </div>
  <div>
    <button
      (click)="submitLogin()"
      [disabled]="!formLogin.valid"
      class="flex justify-center w-full p-4 text-base font-medium tracking-wide text-gray-100 transition duration-500 ease-in shadow-lg cursor-pointer rounded-md01 bg-allemantBlue hover:bg-gradient-to-l hover:from-blue-500 hover:to-indigo-600"
    >
      Ingresar
    </button>
  </div>
  <p
    class="flex flex-col items-center justify-center mt-10 text-center text-gray-500 text-md"
  >
    <span class="font-normal tracking-semi_normal">¿No tienes cuenta?</span>
    <a
      href="#"
      class="font-normal no-underline transition duration-300 ease-in cursor-pointer text-allemantBlue tracking-semi_normal hover:underline"
      >Regístrate</a
    >
  </p>
</form>
