@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
/* You can add global styles to this file, and also import other style files */

body {
  height: 100%;
  font-family: Poppins, Poppins-Regular, Poppins-Light, Poppins-Medium,
    Poppins-Bold;
  margin: 0;
  background-color: #f9fbfd;
  color: #53535f;
}
a {
  color: #1890ff;
  text-decoration: none;
  background-color: initial;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
p {
  color: #72849a;
  line-height: 1.8;
}
